<div style="border-radius: 15px; box-shadow: 2px 2px 4px; border: 1px solid; background:#bdc3c7; padding: 20px"> <h7 style="color:black; margin-bottom:20px"> –î–∞–º–∏—Ä, –ø—Ä–∏–≤–µ—Ç!) –≠—Ç–æ –ú–∏—Ö–∞–∏–ª.

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∏ –∑–∞–º–µ—á–∞–Ω–∏—è –¥–∞–ª–µ–µ –ø–æ —Ç–µ–∫—Å—Ç—É –ø–æ–º–µ—á–µ–Ω—ã —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:
    
---    
<div class="alert alert-block alert-danger">
‚ùå : –ö—Ä–∏—Ç–∏—á–µ—Å–∫–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä—ã–µ —Å–ª–µ–¥—É–µ—Ç –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div> 
    
---
    
<div class="alert alert-block alert-warning">
‚ö†Ô∏è : –ó–∞–º–µ—á–∞–Ω–∏–µ\—Å–æ–≤–µ—Ç –Ω–∞ –±—É–¥—É—â–µ–µ.
</div>
    
---
    
<div class="alert alert-block alert-success">
‚úîÔ∏è : –ö–æ–≥–¥–∞ –≤—Å—ë —Å–¥–µ–ª–∞–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ.
</div>

---

–ï—Å–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –≤–æ–ø—Ä–æ—Å—ã –æ–±—â–µ–≥–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∞, —Ç–æ –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è - –∑–∞–¥–∞–≤–∞–π!) –î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –º–Ω–µ –±—ã–ª–æ –ª–µ–≥—á–µ –∏—Ö –Ω–∞–π—Ç–∏, —Ç–æ –≤—ã–¥–µ–ª—è–π –∏—Ö –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ —Å –ø–æ–º–æ—â—å—é —Ü–≤–µ—Ç–∞, –Ω–∞–ø—Ä–∏–º–µ—Ä –≤–æ—Ç —Ç–∞–∫ - <font color=#e17055>"–≤–æ–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–µ –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–µ–∑–∞–º–µ—á–µ–Ω–Ω—ã–º"</font>
        
    
p.s.: –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∑–∞–º–µ—á–∞–Ω–∏—è, –µ—Å–ª–∏ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç —á—Ç–æ —Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –≤ –ø—Ä–æ–µ–∫—Ç–µ.</h7>

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚ùå : </b> 

<s>–ò—Ç–æ–≥ —Ä–µ–≤—å—é - –ø–æ—á—Ç–∏ –≤—Å–µ –∑–∞–ø—Ä–æ—Å—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∏ –¥–∞—é—Ç –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç. –ù–æ –µ—Å—Ç—å –æ–¥–Ω–æ –∑–∞–¥–∞–Ω–∏–µ, –∫–æ—Ç–æ—Ä–æ–µ —Ç–µ–±–µ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å, —á—Ç–æ–±—ã —è —Å–º–æ–≥ –ø—Ä–∏–Ω—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. 
    
–ï—Å–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã, –ø–∏—à–∏ - –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –æ—Ç–≤–µ—á—É. –ë—É–¥—É –∂–¥–∞—Ç—å!
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Å—Ç—É–¥–µ–Ω—Ç–∞ : </b> 

–ò—Å–ø—Ä–∞–≤–∏–ª.
</div>


<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v2 ‚úîÔ∏è : </b> 

–í—Å–µ –∑–∞–º–µ—á–∞–Ω–∏—è —É—á—Ç–µ–Ω—ã. –¢—ã –Ω–∞–≥–ª—è–¥–Ω–æ –ø–æ–∫–∞–∑–∞–ª —É–º–µ–Ω–∏–µ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã SQL –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø–æ–¥–æ–±–Ω—ã—Ö –∑–∞–¥–∞—á. –¢–∞–∫ –¥–µ—Ä–∂–∞—Ç—å! 
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞! –û—Å–æ–±–µ–Ω–Ω–æ —Ü–µ–Ω–Ω–æ, —á—Ç–æ —Ç—ã –ø–æ–ª–Ω–æ—Å—Ç—å—é —É–ª–æ–∂–∏–ª—Å—è –≤ –¥–µ–¥–ª–∞–π–Ω üëè
    
![](https://media.giphy.com/media/SkwbfLHO0a1lS/giphy.gif)
    
–û—Å—Ç–∞–µ—Ç—Å—è –¥–æ–∂–¥–∞—Ç—å—Å—è —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–æ–∑–≤–æ–Ω–∞ –≤ –±–ª–∏–∂–∞–π—à–µ–µ –≤—Ä–µ–º—è)
</div>
    
---

---

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " ><b> ‚¨Ü –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚ùå : </b> 

<s>–•–æ—Ä–æ—à–µ–π –ø—Ä–∞–∫—Ç–∏–∫–æ–π —è–≤–ª—è–µ—Ç—Å—è - –Ω–∞–ª–∏—á–∏–µ –≤ –ø—Ä–æ–µ–∫—Ç–µ –æ–ø–∏—Å–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –∏ —Ü–µ–ª–∏ —Ä–∞–±–æ—Ç—ã, —ç—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç —á–∏—Ç–∞—Ç–µ–ª—è–º –±—ã—Å—Ç—Ä–æ –ø–æ–Ω—è—Ç—å, –æ —á—ë–º –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ.

–¢–∞–∫–∂–µ –∂–µ–ª–∞—Ç–µ–ª—å–Ω–æ –¥–∞–≤–∞—Ç—å —Ä–∞–±–æ—Ç–µ –∫–∞–∫–æ–µ-—Ç–æ —ë–º–∫–æ–µ –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ (–∑–∞–≥–æ–ª–æ–≤–æ–∫), –æ —á—ë–º –æ–Ω–∞, –µ—Å–ª–∏ —Ç—ã –±—É–¥–µ—à—å —Å–æ—Å—Ç–∞–≤–ª—è—Ç—å –ø–æ—Ä—Ç—Ñ–æ–ª–∏–æ –ø—Ä–æ–µ–∫—Ç–æ–≤, —Ç–æ –±—É–¥–µ—Ç –≤–∞–∂–Ω–æ –ø–æ–∫–∞–∑–∞—Ç—å —Å –ø–µ—Ä–≤—ã—Ö —Å–µ–∫—É–Ω–¥, –∫–∞–∫–∞—è –∑–∞–¥–∞—á–∞ —Ç—É—Ç —Ä–µ—à–∞–ª–∞—Å—å.

</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Å—Ç—É–¥–µ–Ω—Ç–∞ : </b> 

–ù–∞ —Ä–∞–¥–æ—Å—Ç—è—Ö —É–ø—É—Å—Ç–∏–ª, —á—Ç–æ —Ç—É—Ç —Ç–æ–∂–µ –Ω—É–∂–Ω—ã —Ü–µ–ª–∏ –∏ –æ–ø–∏—Å–∞–Ω–∏–µ, –¥–æ–±–∞–≤–∏–ª.
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v2 ‚úîÔ∏è : </b> 

üëç

</div>

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL - –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –∫–Ω–∏–∂–Ω–æ–≥–æ –º–∞–∑–∞–≥–∏–Ω–∞

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. 

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è** 

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –∫–Ω–∏–∂–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω–∞. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–ó–∞–¥–∞–Ω–∏—è**
1. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
3. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
5. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫ –∏ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –°–£–ë–î

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

### –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ SQL –∑–∞–ø—Ä–æ—Å–∞

In [3]:
# –§–æ—Ä–º–∏—Ä—É–µ–º sql-–∑–∞–ø—Ä–æ—Å - —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞ –∏ –≤–æ–∑–≤—Ä–∞—â–µ–Ω–∏—é —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
def sql_result(query):
    return pd.io.sql.read_sql(query, con = engine)

books = ''' SELECT * FROM books'''
authors = ''' SELECT * FROM authors'''
ratings = ''' SELECT * FROM ratings'''
reviews = ''' SELECT * FROM reviews'''
publishers = ''' SELECT * FROM publishers'''

In [4]:
# –í—ã–≤–µ–¥—É –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞
for x in [books, authors, ratings, reviews, publishers]:
    display(sql_result(x).head(2))

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...

   publisher_id publisher
0             1       Ace
1             2  Ace Book

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 

–ó–¥–µ—Å—å –≤—Å—ë —Ö–æ—Ä–æ—à–æ. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ. –¢–µ–ø–µ—Ä—å –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –∑–∞–¥–∞–Ω–∏–π
</div>

## –ó–∞–¥–∞–Ω–∏—è

### –ó–∞–¥–∞–Ω–∏–µ 1

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [5]:
task_1 = ''' SELECT COUNT(book_id)
               FROM books
              WHERE DATE_TRUNC('day', publication_date) > '2000-01-01';
         '''
sql_result(task_1)

   count
0    819

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    
–í—Å—ë –≤–µ—Ä–Ω–æ. –≠—Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç

</div>

**–í—ã–≤–æ–¥:**
–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.

---

### –ó–∞–¥–∞–Ω–∏–µ 2

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

–î–∞—Ç–∞—Ñ—Ä–µ–π–º—ã: books, ratings, reviews

In [22]:
task_2 = '''WITH
            rew_c AS(
                SELECT b.book_id, b.title, COUNT(re.review_id) AS count_reviews
                FROM reviews as re
                FULL OUTER JOIN books AS b ON re.book_id = b.book_id
                GROUP BY b.book_id
            ),
            rat_a AS(
                SELECT b.book_id, AVG(ra.rating) as avg_rating
                FROM ratings as ra
                LEFT JOIN books AS b ON ra.book_id = b.book_id
                GROUP BY b.book_id
            )
            SELECT rew_c.book_id, rew_c.title, rew_c.count_reviews, rat_a.avg_rating
            FROM rew_c
            LEFT JOIN rat_a ON rew_c.book_id = rat_a.book_id; 
        '''
sql_result(task_2)

,book_id,title,count_reviews,avg_rating
0,1,'Salem's Lot,2,3.666667
1,2,1 000 Places to See Before You Die,1,2.500000
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.666667
3,4,1491: New Revelations of the Americas Before C...,2,4.500000
4,5,1776,4,4.000000
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.666667
996,997,Xenocide (Ender's Saga #3),3,3.400000
997,998,Year of Wonders,4,3.200000
998,999,You Suck (A Love Story #2),2,4.500000
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.833333

In [15]:
task_2 = '''WITH
            r_c AS(
                SELECT b.book_id, b.title, COUNT(re.review_id) AS count_reviews
                FROM reviews as re
                FULL OUTER JOIN books AS b ON re.book_id = b.book_id
                GROUP BY b.book_id
            ),
            r_a AS(
                SELECT b.book_id, AVG(ra.rating) as avg_rating
                FROM ratings as ra
                LEFT JOIN books AS b ON ra.book_id = b.book_id
                GROUP BY b.book_id
            )
            SELECT r_c.book_id, r_c.title, r_c.count_reviews, r_a.avg_rating
            FROM r_c
            LEFT JOIN r_a ON r_c.book_id = r_a.book_id; 
        '''
sql_result(task_2)

,book_id,title,count_reviews,avg_rating
0,1,'Salem's Lot,2,3.666667
1,2,1 000 Places to See Before You Die,1,2.500000
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.666667
3,4,1491: New Revelations of the Americas Before C...,2,4.500000
4,5,1776,4,4.000000
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.666667
996,997,Xenocide (Ender's Saga #3),3,3.400000
997,998,Year of Wonders,4,3.200000
998,999,You Suck (A Love Story #2),2,4.500000
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.833333

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v2 ‚úîÔ∏è : </b> 

–¢–µ–ø–µ—Ä—å –∫–Ω–∏–≥–∏ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤ –ø–æ–ª–Ω–æ–º –æ–±—ä–µ–º–µ)

</div>

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚ùå : </b>
    
<s>–¢—ã –≤—ã–≤–µ–ª —Ç–æ–ª—å–∫–æ —Ç–µ –∫–Ω–∏–≥–∏ (994 –∏–∑ 1000), —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –æ—Ç–∑—ã–≤—ã reviews, –∞ –≤–µ–¥—å —É –∫–Ω–∏–≥ –±–µ–∑ –æ—Ç–∑—ã–≤–æ–≤ –æ—Ü–µ–Ω–∫–∏ –Ω–∏–∫—É–¥–∞ –Ω–µ –¥–µ–ª–∏—Å—å –∏ –∏—Ö –ø–æ –∑–∞–¥–∞—á–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–≤–µ—Å—Ç–∏.


</div>

**–í—ã–≤–æ–¥:**

–î–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥. –£ 6 –∫–Ω–∏–≥ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –æ–±–∑–æ—Ä—ã, —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –æ–Ω–∏ –Ω–µ –ø–æ–ø–∞–ª–∏ –≤ —Ä–∞—Å—á—ë—Ç–Ω—É—é —Ç–∞–±–ª–∏—Ü—É.

---


### –ó–∞–¥–∞–Ω–∏–µ 3

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

–î–∞—Ç–∞—Ñ—Ä–µ–π–º—ã: books, publishers

In [7]:
task_3 = ''' SELECT p.publisher, COUNT(b.title)
             FROM books AS b
             JOIN publishers AS p ON b.publisher_id = p.publisher_id
             WHERE b.num_pages > 50
             GROUP BY p.publisher
             ORDER BY count DESC
             LIMIT 1;
         '''
sql_result(task_3)

       publisher  count
0  Penguin Books     42

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º

</div>

**–í—ã–≤–æ–¥:**

Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ —Å–∞–º–æ–µ –±–æ–ª—å—à–æ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥, —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

---


### –ó–∞–¥–∞–Ω–∏–µ 4

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

–î–∞—Ç–∞—Ñ—Ä–µ–π–º—ã: books, authors, ratings

In [8]:
task_4 = ''' SELECT a.author, AVG(r.rating) as rating_avg
             FROM books AS b
             JOIN ratings AS r ON b.book_id = r.book_id
             JOIN authors AS a ON b.author_id = a.author_id
             WHERE b.book_id IN (SELECT book_id
                                 FROM ratings
                                 GROUP BY book_id
                                 HAVING COUNT(rating_id) > 50)
             GROUP BY a.author
             ORDER BY rating_avg DESC
             LIMIT 1;
         '''
sql_result(task_4)

                       author  rating_avg
0  J.K. Rowling/Mary GrandPr√©    4.287097

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò –∑–¥–µ—Å—å —Ç—ã –Ω–µ –æ—à–∏–±—Å—è. –¢—ã –≤–µ—Ä–Ω–æ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–ª –∫–Ω–∏–≥–∏ –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–æ–≤

</div>

**–í—ã–≤–æ–¥:**

–°—Ä–µ–¥–∏ –∞–≤—Ç–æ—Ä–æ–≤ –∫–Ω–∏–≥ —Å –±–æ–ª–µ–µ 50-—é –æ—Ü–µ–Ω–∫–∞–º–∏ –ª–∏–¥–∏—Ä—É—é—Ç –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ –∏ –ú—ç—Ä–∏ –ì—Ä–∞–Ω–¥.

---


### –ó–∞–¥–∞–Ω–∏–µ 5

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

–î–∞—Ç–∞—Ñ—Ä–µ–π–º—ã: books, ratings, reviews

In [9]:
task_5 = ''' WITH
            rat AS(
                    SELECT username, COUNT(rat.rating) as rating_count
                    FROM ratings as rat
                    GROUP BY username
                    HAVING COUNT(rat.rating) > 50
            ),
            rew AS(
                    SELECT username, COUNT(review_id) AS review_count
                    FROM reviews as rew
                    GROUP BY username
            )
            SELECT AVG(rew.review_count) AS user_reviews_avg
            FROM rat
            LEFT JOIN rew ON rat.username = rew.username;
         '''
sql_result(task_5)

   user_reviews_avg
0         24.333333

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid " > <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ ‚úîÔ∏è : </b> 
    

–ò —ç—Ç–æ .. –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç! –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏.


–í –∏—Ç–æ–≥–µ, 4\5 —Å –ø–µ—Ä–≤–æ–π –ø–æ–ø—ã—Ç–∫–∏ - —ç—Ç–æ –¥–æ—Å—Ç–æ–π–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç)

</div>

**–í—ã–≤–æ–¥:**

–í —Å—Ä–µ–¥–Ω–µ–º –∞–∫—Ç–∏–≤–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ (—Ç–µ, –∫—Ç–æ –ø–æ—Å—Ç–∞–≤–∏–ª –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫) –Ω–∞–ø–∏—Å–∞–ª–∏ –ø–æ—Ä—è–¥–∫–∞ 24 –æ–±–∑–æ—Ä–æ–≤.